<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibevin.test.mixedtesting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".Test001MixedTestingActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EntryPageActivity"></activity>
        <activity android:name="LayoutWeightActivity"></activity>
        <activity android:name="OOBEActivity"></activity>
        <activity android:name="OOBEViewer"></activity>
        <activity android:name="OOBEViewer3"></activity>
        <activity android:name="StyleTest" android:theme="@style/Test002"></activity>
        <activity android:name="AnimeTest"></activity>
    </application>

</manifest>